.slick-prev:before,
.slick-next:before {
  color: #2177c6 !important;
}

.slick-slide > div {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 50px;
  padding-bottom: 50px;
}

.slick-track {
  margin: 0 auto;
}
